body {
    background-color: #222;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 2.5em;
    color: #ff6347;
    margin-bottom: 20px;
}

a {
    font-size: 1.5em;
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
}

.telegram-icon {
    font-size: 20px;
    margin-right: 10px;
}

a:hover {
    color: #ff4500;
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    a {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    body {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    a {
        font-size: 1em;
    }

    .telegram-icon {
        font-size: 18px;
    }
}
.nigger{
    a{
        color: skyblue;
    }
}